body {
  display: flex;
  justify-content: center;
  background: #3F5EFB;
  background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  height: 100vh;
}


header{
  height: 130px;
  border: 5px solid black;
  font-family: "Pacifico", cursive;
}

.nav-btn{
  border: 5px solid black;
  padding: 5px;
}

.nav-btn:hover{
  font-size: 100px;
  color: blue;
  text-decoration: dashed;
}

h1{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      }
#nav{ 
  font-family: "BBH Sans Bogle", sans-serif;
  font-size: 50px;
  text-align: center;
}
#content{
  height: 470px;
  width: 650px;
  text-align: center;
  float: left;
}

#content h3{
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

#content h2{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

#elmo{
  height: 100px;
  animation-name: elmo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes elmo
{
  from{
    border: 1px solid brown;
    height: 200px;
  }

  to{ 
    border: 1px solid black;
    height: 500px;

  }
  
}
#content-movies{
  text-align: center;
  float: left;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

#mainmovies {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 52%);
  height: 100vh;
}

#moviess {
  width: 400px;
  height: 400px;            
  background: radial-gradient(circle, silver, gray, black);
  border: 10px dotted white;
  
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes moviess
{
  from{
    border: 1px solid green;
    height: 200px;
  }

  to{ 
    border: 1px solid yellow;
    height: 500px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}